* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(51, 6, 51);
}

.nav-circle {
  border-radius: 2rem;
  height: 2.8rem;
  background-color: red;
}
.nav-bar {
  border-radius: 0.3rem;
  height: 2rem;
  background-color: white;
}
nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 30fr;
  grid-template-rows: repeat(4, 30px);
  gap: 1rem;
  margin: 1.3rem 3rem;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1284px) {
  .nav-circle {
    height: 2.2rem;
  }
}
@media (max-width: 1150px) {
  .nav-circle {
    height: 2.2rem;
  }
}
@media (max-width: 992px) {
  .nav-circle {
    height: 2.2rem;
  }
}
@media (max-width: 850px) {
  nav {
    grid-template-columns: 1fr 1fr 1fr 20fr;
  }
  .nav-circle {
    height: 2.3rem;
  }
}
@media (max-width: 650px) {
  nav {
    grid-template-columns: 1fr 1fr 1fr 10fr;
  }
  .nav-circle {
    height: 2.3rem;
  }
}

@media (max-width: 550px) {
  .nav-circle {
    height: 2rem;
  }
  nav {
    margin: 1.5rem 2rem;
  }
}
@media (max-width: 450px) {
  .nav-circle {
    height: 1.5rem;
  }
}

/* Nav-End */

.box {
  border: 1px solid rgb(118, 117, 117);
}
main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 180px 450px;
  gap: 1.5rem;
  margin: -3rem 3.5rem;
}
#box-4 {
  padding: 1rem 1rem;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 205px);
}
.N-box-1 {
  grid-column: 1/3;
}
@media (max-width: 768px) {
  main {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 180px 180px 450px 1fr;
  }
  #box-4 {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 205px);
  }
  .N-box-2 , .N-box-3  {
    grid-column: 1/3;
  }

}


 /* Main End */

 footer {
    margin-top: 5rem;
    text-align: center;
    margin-bottom: 1rem;
  }
  footer a {
    padding: 0.5rem 1rem;
    cursor: pointer;
    background-color: blueviolet;
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    border-radius: 0.6rem;
  }
